@model FMassage.Models.Booking
@{
    Layout = "_Layout";
    ViewData["Title"] = "Удаление сеанса";
}

<h2>Удаление сеанса</h2>

<p>Вы действительно хотите удалить сеанс "<strong>@Model.SlotDate.ToString("dd/MM/yyyy HH:mm")</strong>"?</p>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Удалить</button>
    <a href="@Url.Action("Index", "Booking")" class="btn btn-secondary">Отменить</a>
</form>